@font-face {
   font-family: 'ofont.ru_1 Shelley Volante';
   font-display: swap;
   src: url('ofont.ru_1 Shelley Volante/font.ttf');
}
@font-face {
   font-family: 'ofont.ru_Mon Amour One';
   font-display: swap;
   src: url('ofont.ru_Mon Amour One/font.ttf');
}
